:host {
  display: inline-block;

  vertical-align: bottom;
  font-size: 0;
  line-height: 0;

  &:hover,
  &:focus {
    stroke: #4481c3;
  }

  &.active svg {
    stroke: #4481c3;
    fill: #4481c3;
  }

  &[type="small-skew"] {
    width: 18px;
    height: 19px;
  }

  &[type="middle"] {
    width: 19px;
    height: 21px;

    transform: skew(10deg);
  }

  &[type="large-skew"] {
    width: 31px;
    height: 33px;
  }
}

svg {
  fill: transparent;
  stroke: #979797;
  stroke-width: 2;
  transition-property: fill, stroke;
  transition-duration: 300ms;
}
