<h1 class="visually-hidden">Cities</h1>
<div class="container">
  <app-menu
    class="menu"
    [menuList]="menuList$ | async"
    (changeActiveOutput)="switchCityByName($event)"
  ></app-menu>
</div>
<div
  class="cities"
   *ngIf="{
      isAuthorized: isAuthorized$ | async,
      hotelParams: hotelParams$ | async,
      sorting: sorting$ | async,
      city: city$ | async
    } as params"
>
  <div
    class="cities__places-container container"
    *ngIf="params.hotelParams?.list.length !== 0; else emptyList"
  >
    <section class="cities__places places">
      <h2 class="visually-hidden">Places</h2>
      <b class="places__found">{{params.hotelParams.list.length}} places to stay in Amsterdam</b>
      <app-select
        class="places__sorting"
        [options]="sortingOptions"
        [value]="params.sorting"
        (changeSelectionValueOutput)="switchHotelSorting($event)"
      ></app-select>
      <div class="cities__places-list places__list tabs__content">
        <app-hotel-card
          *ngFor="let hotel of params.hotelParams?.list; trackBy: trackByHotel"
          [id]="hotel.id"
          [title]="hotel.title"
          [price]="hotel.price"
          [rating]="hotel.rating"
          [isPremium]="hotel.isPremium"
          [hotelType]="hotel.type"
          [image]="hotel.images[0]"
          [isFavorite]="hotel.isFavorite"
          [hasFavoriteFlag]="params.isAuthorized"
          (changeIsFavoriteValue)="toggleFavoriteStatus(hotel.id)"
          (mouseenter)="setActiveMarkerId(hotel.location.id)"
        ></app-hotel-card>
      </div>
    </section>
    <div class="cities__right-section">
      <app-map
        class="map"
        [location]="mapCityParams$ | async"
        [markers]="mapMarkerList$ | async"
        [activeMarkerId]="activeMarkerId"
      ></app-map>
    </div>
  </div>

  <ng-template #emptyList>
    <div class="cities__places-container cities__empty container">
      <section class="cities__no-places">
        <div class="cities__status-wrapper tabs__content">
          <b class="cities__status">No places to stay available</b>
          <p class="cities__status-description">We could not find any property available at the moment in {{ params.city.title }}</p>
        </div>
      </section>
      <div class="cities__right-section"></div>
    </div>
  </ng-template>
</div>
