:host {
  position: relative;

  display: inline-block;

  font-size: 0;
  line-height: 0;
}

.select__label {
  margin-right: 5px;

  font-size: 12px;
  line-height: 1.167;
  font-weight: 700;
}

.select__value {
  position: relative;

  display: inline-block;
  padding-right: 12px;

  font-size: 12px;
  line-height: 1.167;

  cursor: pointer;
}

.select__arrow {
  position: absolute;
  top: 55%;
  right: 0;

  fill: #0d0d0d;

  transform: translateY(-50%);
}

.select__list {
  position: absolute;
  top: calc(100% + 1px);
  left: 0;
  z-index: 1;

  margin: 0;
  padding: 0;

  list-style: none;
  background-color: #ffffff;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
}

.select__option {
  min-width: 170px;
  padding: 14px 16px 10px;

  font-size: 14px;
  line-height: 1.2143;

  outline: 0;
  cursor: pointer;

  transition: background .3s;

  &:focus,
  &:hover,
  &--active {
    background-color: #f2f2f2
  }
}
